
nav {
    background-color: rgb(59, 58, 58);
    color: white;
    height: 70px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}




.side-bar {
    background-color: rgb(247, 245, 245);
    float: left;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

}

.search-title {
    margin-top: 40px;
    flex: 1 1 100%;
    height: 50px;
    text-align: center;
}





#top-container {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    height: 300px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 17px;
    padding-top: 1px;
    margin-top: 20px;
}



#city-name {
    font-size: 40px;
}

#search-term {
    height: 30px;
    width: 250px;
}

#search-btn {
    height: 34px;
    width: 100px;
    background-color: rgb(50, 50, 245);
    color: white;
    border-radius: 4px;
}


#bottom-container{
    height: 250px;
    margin-left: 450px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 17px;
    padding-top: 1px;
}